{# templates/votre_template.html.twig #}

{# Inclure les styles CSS directement dans le même fichier Twig #}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<title>Demande de Virement Bancaire</title>
<style>
    /* Ajoutez vos styles personnalisés ici */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        background: linear-gradient(90deg, rgb(174, 238, 231) 0%, rgb(124, 241, 175) 50%, rgb(77, 241, 225) 100%);

        font-family: 'Poppins', sans-serif;
    }

    /* Style pour le formulaire */
    .centered-form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Ajustez la hauteur selon vos besoins */
    }

    .centered-form form {
        width: 50%; /* Ajustez la largeur selon vos besoins */
    }
    form {
        border-radius: 20px;
        margin-top: 20px !important;
        width: 40% !important;
        background-color: white !important;
        padding: 50px;
        margin-left: auto;
        margin-right: auto;

    }

    /* Style pour les labels */
    .form-label {
        font-weight: 800 !important;

    }

    /* Style pour les champs de saisie */
    .form-control {
        color: rgb(50, 134, 60);
        border-bottom-color: rgb(16, 220, 38);
        box-shadow: none !important;
        border: none;
        border-bottom: 1px solid;
        border-radius: 4px 4px 0 0;
    }

    /* Style pour les messages d'erreur */
    .form-text.text-danger {
        color: red;
    }

    /* Style pour le bouton de soumission */
    .btn-success {
        width: 100%;
        border: none;
        border-radius: 50px;
    //background: #0e3d8e;
        background: linear-gradient(90deg, rgb(31, 122, 20) 0%, rgb(34, 164, 53) 35%, rgb(101, 231, 30) 100%);
    }

    /* Style pour le bouton de soumission au survol */
    .btn-primary:hover {
        opacity: 0.8;
    }

    /* Style pour le titre */
    h4 {
        font-size: 2rem !important;
        font-weight: 700;
    }
</style>

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_row(form._token) }}
{# style="background-image: url('Controller/shayma.jpg')" #}
<body class="body" >
<div class="container-fluid">
    <form class="form" >
        <h4 class="text-center">Demande de Virement Bancaire</h4>
          <div class="mb-3">
            <label class="form-label">  {{ form_label(form.compte , 'compte', {'label_attr': {'class': 'form-label'}}) }} </label>
            <div > {{ form_widget(form.compte, {'attr': {'class': 'form-control', 'placeholder': 'compte'}}) }}</div>
            {{ form_errors(form.compte , {'attr': {'class': 'form-text text-danger'}}) }}
        </div>
        <div class="mb-3">
            <label class="form-label">  {{ form_label(form.numCompte, 'numCompte', {'label_attr': {'class': 'form-label'}}) }} </label>
            <div > {{ form_widget(form.numCompte, {'attr': {'class': 'form-control', 'placeholder': 'numCompte'}}) }}</div>
            {{ form_errors(form.numCompte, {'attr': {'class': 'form-text text-danger'}}) }}
        </div>
        <div class="mb-3">
            <label class="form-label">  {{ form_label(form.NometPrenom, 'NometPrenom', {'label_attr': {'class': 'form-label'}}) }} </label>
            <div > {{ form_widget(form.NometPrenom, {'attr': {'class': 'form-control', 'placeholder': 'NometPrenom'}}) }}</div>
            {{ form_errors(form.NometPrenom, {'attr': {'class': 'form-text text-danger'}}) }}
        </div>

        <div class="mb-3">
            <label class="form-label">  {{ form_label(form.TypeVirement, 'TypeVirement', {'label_attr': {'class': 'form-label'}}) }}</label>
            <div>{{ form_widget(form.TypeVirement, {'attr': {'class': 'form-control', 'placeholder': 'TypeVirement'}}) }}</div>
            {{ form_errors(form.TypeVirement, {'attr': {'class': 'form-text text-danger'}}) }}
        </div>
        <div class="mb-3 mt-5">
            <label  class="form-label"> {{ form_label(form.transferezA, 'transferezA ', {'label_attr': {'class': 'form-label'}}) }}</label>
            <div>{{ form_widget(form.transferezA, {'attr': {'class': 'form-control', 'placeholder': 'transferezA'}}) }}</div>
            {{ form_errors(form.transferezA, {'attr': {'class': 'form-text text-danger'}}) }}
        </div>
        <div>
            <label class="form-label">  {{ form_label(form.NumBeneficiare, 'NumBeneficiare', {'label_attr': {'class': 'form-label'}}) }}</label>
            <div > {{ form_widget(form.NumBeneficiare, {'attr': {'class': 'form-control', 'placeholder': 'NumBeneficiare'}}) }} </div>
            {{ form_errors(form.NumBeneficiare, {'attr': {'class': 'form-text text-danger'}}) }}
            {#            {{ form_row(form._token) }}#}
        </div>
        <div class="mb-3">
            <label class="form-label" > {{ form_label(form.Montant, 'Montant', {'label_attr': {'class': 'form-label'}}) }}</label>
            <div >{{ form_widget(form.Montant, {'attr': {'class': 'form-control', 'placeholder': 'Montant'}}) }}</div>
            {{ form_errors(form.Montant, {'attr': {'class': 'form-text text-danger'}}) }}
        </div>


        <button type="submit" class="btn btn-success mt-5">Confirmer</button>
    </form>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

{{ form_end(form) }}