{% extends 'baseadmin.html.twig' %}

{% block title %}New Investment{% endblock %}

{% block body %}
    <h1>Create new Investment</h1>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">Formulaire pour ajouter un investissement</h5>
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="mb-3">
                        {{ form_row(form.nom, {'attr': {'class': 'form-control'}, 'id': 'nom_investissement'}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.montant, {'attr': {'class': 'form-control'}, 'id': 'montant'}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.dateInvestissement, {'attr': {'class': 'form-control'}, 'id': 'date_investissement'}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.description, {'attr': {'class': 'form-control'}, 'id': 'description'}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.typeInvestissement, {'attr': {'class': 'form-control'}, 'id': 'type_investissement'}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.duree, {'attr': {'class': 'form-control'}, 'id': 'duree'}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.tauxRendement, {'attr': {'class': 'form-control'}, 'id': 'taux_rendement'}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.statut, {'attr': {'class': 'form-control'}, 'id': 'statut'}) }}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
