{% extends 'base.html.twig' %}
{% block nompage %}Liste des Comptes{% endblock %}

{% block body %}
    <div class="content-body">
    <div class="container-fluid">

    <!-- row -->

    <div class="row">
    <div class="col-lg-12">
    <div class="card">
    <div class="card-body">
    <div class="table-responsive">
    <table class="table table-sm mb-0 table-striped">
        <thead>
        <tr>
            <th ><strong>Email</strong></th>
            <th ><strong>Cin</strong></th>
            <th ><strong>DateDelivranceCin</strong></th>
            <th ><strong>nom</strong></th>
            <th ><strong>prenom </strong></th>
            <th ><strong>sexe</strong></th>
            <th ><strong>Date de Naissance</strong></th>
            <th ><strong>Proffesion</strong></th>
            <th ><strong>type de Compte</strong></th>
            <th ><strong>Montant de depot initial </strong></th>

        </tr>
        </thead>
        <tbody id="customers" >
        {% for comptes in comptes %}
            <tr class="btn-reveal-trigger" >
                <td class="py-3" >
                    <a href="#">
                        <div class="media d-flex align-items-center">
                            <div class="media-body">
                                {{comptes.cin}}
                            </div>
                        </div>
                    </a>
                </td>
                <td class="py-2">{{comptes.DateDelivranceCin }}</td>
                <td class="py-2">{{comptes.Email }}</a></td>
                <td class="py-2">{{comptes.nom }}</td>
                <td class="py-2">{{comptes.prenom}}</td>
                <td class="py-2">{{comptes.sexe}}</td>
                <td class="py-2">{{comptes.DateNaissance}}</td>
                <td class="py-2">{{comptes.proffesion}}</td>
                <td class="py-2">{{comptes.typeCompte}}</td>
                <td class="py-2">{{comptes.Montant}}</td>

                <
                <td class="py-2 ps-5">
                    <div class="d-flex">
                        <a href="{{ path('app_compte_show', {'id': comptes.cin}) }}" class="btn btn-primary shadow btn-xs sharp me-1"> <i class="bi bi-reply"> </i></a>
                        <a href="{{ path('app_compte_delete', {'id': comptes.cin}) }}" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>



                    </div>
                </td>

            </tr>


        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}