{% extends 'baseclient.html.twig' %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-10 mt-4">
        <div class="card h-150 mb-4">
            <div class="card-header pb-0 px-3">
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="mb-0">Mes réclamations</h6>
                    </div>
                    <div class="col-6 text-end">
                 <a class="btn bg-gradient-success mb-0" href="{{ path('app_reclamation_showId', {'id':reponses[0].user.id}) }}">&nbsp;&nbsp;liste des réclamations</a>
</div>
                </div>
            </div>

            <div class="card-body pt-4 p-3">
                {% if reponses|length > 0 %}




                <h6 class="text-uppercase text-body text-xs font-weight-bolder mb-3">Réclamation</h6>
                
                <ul class="list-group">
                    <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                        <div class="d-flex align-items-center">
<button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>
                            <div class="d-flex flex-column">
                                <h6 class="mb-1 text-dark text-sm">{{ reponses[0].reclamation.id}}</h6>
                                <h6 class="mb-1 text-dark text-sm">{{ reponses[0].reclamation.objetRec }}</h6>
                                <span class="text-xs">{{ reponses[0].reclamation.contenuRec }}</span>
                                <span class="text-xs">{{ reponses[0].reclamation.pieceJRec }}</span>
                                <span class="text-xs">{{ reponses[0].reclamation.statutRec }}</span>  
                            </div> 
                        </div>
                        <div class="col-md-6 d-flex justify-content-end align-items-center">
                            <i class="far fa-calendar-alt me-2"></i>
                            <small>{{ reponses[0].reclamation.dateRec ? reponses[0].reclamation.dateRec|date('Y-m-d') : '' }}</small>
                        </div>
                    </li>
                </ul>

                <h6 class="text-uppercase text-body text-xs font-weight-bolder mb-3">Réponses</h6>
                <ul class="list-group">
                    {% for reponse in reponses %}
                    <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                                <div class="d-flex align-items-center">

                        <button class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-down"></i></button>

                            <div class="d-flex flex-column">
                                <h6 class="mb-1 text-dark text-sm">{{ reponse.id }}</h6>
                                <span class="text-xs">{{ reponse.adrRep }}</span>
                                <span class="text-xs">{{ reponse.contenuRep }}</span>
                                <span class="text-xs">{{ reponse.pieceJRep }}</span>
                              
                            </div>
                        </div>
                         <div class="col-md-6 d-flex justify-content-end align-items-center">
                            <i class="far fa-calendar-alt me-2"></i>
                            <small>{{ reponse.dateRep ? reponse.dateRep|date('Y-m-d') : '' }}</small>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>Aucune réponse disponible pour cette réclamation.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
