{% extends 'baseclient.html.twig' %}

{% block body %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
            
    <div class="card-header pb-0">
    <div class="row">
        <div class="col-6">
            <h6>Liste des réclamations</h6>
        </div>
        <div class="col-6 text-end">
            <a class="btn bg-gradient-success mb-0" href="{{ path('app_reclamation_new')}}">&nbsp;&nbsp;Ajouter une nouvelle réclamation</a>
        </div>
    </div>
</div>



                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date Rec</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Dép concerné</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Objet</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Contenu</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Pièce jointe</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Statut</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reclamation in reclamation %}
                                <tr>
                                    <td>{{ reclamation.id }}</td>
                                    <td>{{ reclamation.dateRec ? reclamation.dateRec|date('Y-m-d') : '' }}</td>
                                    <td>{{ reclamation.depRec }}</td>
                                    <td>{{ reclamation.objetRec }}</td>
                                    <td>{{ reclamation.contenuRec }}</td>
                                    <td>{{ reclamation.pieceJRec }}</td>
                                   <td class="align-middle text-center text-sm">
<span class="badge badge-sm bg-gradient-secondary">Offline</span>
</td>
                                    <td>
                                        <a href="{{ path('app_reponseClient_showId', {'id': reclamation.id , 'var': reclamation.depRec}) }}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">Afficher</a>
                                        <a href="{{ path('app_reclamationclient_delete', {'id': reclamation.id}) }}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user" onclick="return confirm('Etes-vous sur de vouloir supprimer cet élément ?');"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
