{% extends 'baseclient.html.twig' %}



{% block body %}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
            
    <div class="card-header pb-0">
    <div class="row">
        <div class="col-6">
            <h6>Liste des réclamations</h6>
        </div>
        <div class="col-6 text-end">
            <a class="btn bg-gradient-success mb-0" href="{{ path('app_reclamation_new')}}">&nbsp;&nbsp;Ajouter une nouvelle réclamation</a>
        </div>
    </div>
</div>



                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0" >
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="width: 5%;">Id</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="width: 15%;">Date Rec</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="width: 15%;">Dép concerné</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="width: 15%;">Objet</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="width: 20%;">Contenu</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="width: 15%;">Pièce jointe</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="width: 10%;">Statut</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="width: 5%;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reclamation in app.user.reclamation %}
                                <tr>
                                    <td style="width: 5%;">{{ reclamation.id }}</td>
                                    <td style="width: 5%;">{{ reclamation.dateRec ? reclamation.dateRec|date('Y-m-d') : '' }}</td>
                                    <td style="width: 5%;">{{ reclamation.depRec }}</td>
                                    <td style="width: 5%;">{{ reclamation.objetRec }}</td>
                                    <td style="width: 5%;">{{ reclamation.contenuRec }}</td>
                                    <td style="width: 5%;">{{ reclamation.pieceJRec }}</td>
                                       <td class="align-middle text-center text-sm" style="width: 5%;">
                                        {% if reclamation.statutRec == 'En cours de traitement' %}
                                            <span class="badge badge-sm bg-gradient-warning">{{ reclamation.statutRec }}</span>
                                        {% else %}
                                            <span class="badge badge-sm bg-gradient-success">{{ reclamation.statutRec }}</span>
                                        {% endif %}
                                    </td>
                                    <td style="width: 5%;">
                                        <a href="{{ path('app_reponseClient_showId', {'id': reclamation.id , 'var': reclamation.depRec}) }}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">Afficher</a>
                                        <a href="{{ path('app_reclamationclient_delete', {'id': reclamation.id}) }}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user" onclick="return confirm('Etes-vous sur de vouloir supprimer cet élément ?');"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
