{% extends 'base.html.twig' %}

{% block title %}Hello VirementController!{% endblock %}

{% block body %}
    {% block nompage %}Virements{% endblock %}
    <div class="content-body">
        <div class="container-fluid">

            <!-- row -->

            <div class="row">

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Liste des Virements</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-sm mb-0 table-striped">
                                    <thead>
                                    <tr>

                                        <th><strong>RIB</strong></th>
                                        <th><strong>Nom et Prenom</strong></th>
                                        <th><strong>Cin</strong></th>
                                        <th><strong>Email</strong></th>
                                        <th><strong>Type de Virement</strong></th>
                                        <th><strong>Transférez A </strong></th>
                                        <th><strong>Numéro de Bénéficiaire</strong></th>
                                        <th><strong>Montant</strong></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in virement  %}
                                        <tr>

                                            <td><strong>{{ i.compte }}</strong></td>
                                            <td>{{ i.NometPrenom }}</td>
                                            <td>{{ i.Cin }}</td>
                                            <td>{{ i.Email }}</td>
                                            <td>{{ i.TypeVirement }}</td>
                                            <td>{{i.transferezA}}</td>
                                            <td>{{ i.NumBeneficiare }}</td>
                                            <td>{{ i.Montant }}</td>


                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
