{% extends 'base.html.twig' %}

{% block body %}
          <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center mb-4">Fiche Client</h5>
                             <div class="user-profile">
                               <link rel="stylesheet" type="text/css" href="{{asset('users/style.css')}}">
                              <div class="profile-picture">
                             <img src="{{asset('images/avatar/1.jpg')}}" alt="Photo de profil">
    <h1>Edit Employe</h1>
    <div class="text-center">
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_employes') }}" class="btn btn-secondary">Back to List</a>

    {{ include('user/_deleteEmploye_form.html.twig') }}
    </div>
     <script type="text/javascript" src="{{asset('users/main.js')}}"></script>
    </div>
    </div>
           </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
